<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Poprawiona ścieżka do pliku CSS -->
  <link rel="stylesheet" href="/css/start.css">
  <title>Lucky Streak</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="/img/logo.svg">
    </div>
    <p class="lottery-description">DO LOSOWANIA POZOSTAŁO</p>
    <div class="timer">
      <span class="number">3</span> DNI 
      <span class="number">12</span> GODZIN 
      <span class="number">24</span> MINUTY
    </div>
    
    <div class="prices">
      <div class="item">
        <h3>AKTUALNA PULA NAGRÓD</h3>
        <p class="green-text">$75.200</p>
      </div>
      <div class="item">
        <h3>ŁĄCZNA LICZBA KUPONÓW</h3>
        <p class="green-text">750</p>
      </div>
    </div>
    
    <div class="coupons">
      <div class="item">
        <h3>OSTATNIE LOSOWANIE</h3>
        <p class="green-text">$75.2999900</p>
      </div>
    
      <div class="item">
        <h3>ŁĄCZNA LICZBA KUPONÓW</h3>
        <p class="green-text">750</p>
      </div>
    
      <div class="item">
        <h3>OSTATNI ZWYCIĘZCA</h3>
        <p class="green-text">ERWIN KNUasfasfaafasCKLES</p>
      </div>
    </div>
    

    <form action="/" method="POST" id="access">
        <div>
          <label for="request">PODAJ HASŁO</label><br>
          <div class="buttonIn">
            <input type="password" id="password" name="password" placeholder="Wpisz hasło które dostałeś IC">
            <button id="clear"><img class="arrow" src="/img/arrow.svg"></button>
          </div>
        </div>
      </form>
  </div>
  
</body>
</html>
