<!DOCTYPE html>
<html>
<head>
  <title>LUCKYSTRIKE</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/summary.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="/img/logo.svg">
    </div>
    <img class="check-icon" src="/img/check.svg">
    <p class="lottery-description">Zakup ticketów zatwierdzony</p>
    <div class="information">
      <label for="fname">IMIĘ I NAZWISKO</label>
      <input type="text" id="fname" readonly name="fname" value="<%= data.name %>">
      <label for="lname">SSN</label>
      <input type="text" id="lname" readonly name="lname" value="<%= data.ssn %>">
      <label for="lname">ILOŚĆ KUPONÓW</label>
      <input type="text" id="coupon" readonly name="coupon" value="<%= data.coupon %>">
    </div>
    <button class="btn" onclick="copyConfirmation()">Skopiuj potwierdzenie</button>
    <footer>
      <p>WSZYSTKIE PRAWA ZASTRZEŻONE (C) 2023</p>
      <p style="font-size: 12px; color: #ffffff9d;">Designed by Smaczny Developed by Osci5</p>

      <p style="color: #944097;">Strona stworzona na potrzeby scenariusza roleplay na serwerze 5city</p>
      <p style="font-size: 8px; color: #944097;">Ostrzeżenie: Ta strona służy wyłącznie celom rozrywkowym i nie umożliwia obstawiania za prawdziwe pieniądze. Wszystkie zakłady są zawierane za pomocą wirtualnej waluty, która nie ma wartości pieniężnej. Wygrane i przegrane w tej grze są fikcyjne i nie wpływają na rzeczywiste finanse. Granie na tej stronie powinno być postrzegane jako forma zabawy i rozrywki. Pamiętaj, że hazard może być uzależniający, dlatego graj odpowiedzialnie. Jeśli masz problemy z kontrolowaniem swojego hazardowego zachowania, skonsultuj się z odpowiednimi służbami wsparcia.</p>
    </footer>
  </div>

  <script>
    function copyConfirmation() {
      // Pobierz dane z pól formularza
      var name = document.getElementById('fname').value;
      var ssn = document.getElementById('lname').value;
      var coupon = document.getElementById('coupon').value;
      var dateTime = getCurrentDateTime();
      
      // Utwórz tekst do skopiowania do schowka
      var textToCopy = `${name}\n${ssn}\n${coupon}\n${dateTime}`;
      
      // Skopiuj tekst do schowka
      copyToClipboard(textToCopy);
    }

    function getCurrentDateTime() {
      // Utwórz obiekt daty
      var currentDate = new Date();
      
      // Pobierz aktualną datę w odpowiednim formacie (dd/MM/yyyy)
      var date = currentDate.toLocaleDateString('en-GB');
      
      // Pobierz aktualną godzinę w odpowiednim formacie (HH:mm)
      var time = currentDate.toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit' });
      
      // Dodaj spację między danymi dla lepszego formatowania
      var formattedDateTime = `${time} ${date}`;
      
      // Zwróć sformatowaną datę i godzinę
      return formattedDateTime;
    }

    function copyToClipboard(text) {
      var textarea = document.createElement("textarea");
      textarea.value = text;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand("copy");
      document.body.removeChild(textarea);
      alert("Dane zostały skopiowane do schowka!");
      setTimeout(() => {
      window.location.href = "/";
    }, 500);
    }
</script>

</body>
</html>
