body {
    background: rgba(74, 26, 76, 1);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 200px;
  }
  
  img {
    width: 209px;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  
  .lottery-description {
    font-weight: 700;
    color: rgba(0, 255, 127, 1);
    font-size: 12px;
    line-height: 14.52px;
  }
  
  .number {
    color: rgba(0, 255, 127, 1);
  }
  
  .timer {
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 29.05px;
    margin-top: 40px;
  }
  
  .prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 255, 127, 1);
    border-radius: 5px;
    padding: 24px;
    width: 50%;
  }
  
  .item {
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
  }
  
  .green-text {
    color: rgba(0, 255, 127, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
  }
  
  .coupons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 255, 127, 1);
    border-radius: 5px;
    padding: 24px;
    gap: 65px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .information {
    text-align: left;
    max-width: 500px;
    margin-top: 30px;
  }
  
  label {
    color: rgba(0, 255, 127, 1);
    font-size: 12px;
    font-weight: 700;
  }
  
  /* Zmiana stylu dla pola tekstowego (input) */
  input {
    width: 100%;
    padding: 16px 24px 16px 24px;
    margin: 18px 0;
    box-sizing: border-box;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background: none; /* Zmiana koloru tekstu dla pola tekstowego (input) */ /* Zmiana koloru tła dla pola tekstowego (input) */
    border: 1px solid rgba(0, 255, 127, 1); /* Zmiana koloru ramki dla pola tekstowego (input) */
    border-radius: 25px;
    font-size: 14px;
  }
  
  button {
    margin-top: 20px;
    width: 500px;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 255, 127, 1);
    border-radius: 25px;
    font-size: 18px;
    padding: 16px 24px 16px 24px;
    font-weight: 700;
  }

  button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }

  footer {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    font-weight: 700; /* Dodaj dowolny kolor tła */
    max-width: 900px;
  }